* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

.nav-header {
    background-color: #ffffff;
    height: 80px;
    width: 100%;
    position: relative; /* Fix navbar at the top */
    /* top: 0;
    left: 0; */
    /* z-index: 1000;  */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adds subtle shadow */
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 20px;
    /* max-width: 1200px; */
    /* margin: 0 auto;  */    /* Center the navbar */
}

/* Logo styling */
.navbar .logo {
    font-size: 32px;
    font-weight: bold;
    background-image: linear-gradient(45deg, #008cff, #ff0000);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Centering the middle nav links */
.nav-center {
    display: flex;
    justify-content: center;
    flex: 1;
}

/* Navigation links */
.nav-links {
    display: flex;
    gap: 40px;
    list-style: none;
    align-items: center;
}

.nav-links li a {
    color: #333;
    text-decoration: none;
    font-size: 18px;
    text-transform: capitalize;
    transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
    color: #ff0000;
}

/* Right-side login/signup */
.nav-right {
    margin-left: auto;
}
